p, h1, h2, h3, h4, h5, h6, a, li, ul, span, div, article, main, aside, header, footer, body, input, form {  
    
    background-color: rgb(48, 48, 48) !important;
    color: rgb(221, 224, 218) !important;
}
#overlay {
    position: fixed; 
    display: block; 
    width: 100vw; 
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 0); 
    z-index: 1000;
    opacity: 0.3;
    pointer-events: none; 
  }
  #btn{
      background-color: rgb(114, 7, 7) ;
      color: rgb(25, 240, 43) ;
      /* z-index: 1;  */
      padding: 25px;
      font-size: 20px;
      border-radius: 10px;
  }
  #btn:hover{
      background-color: rgb(4, 95, 97);
      color: rgb(121, 46, 3);
      cursor: pointer;
  }
  